In [1]:
import pandas as pd

In [2]:
comm_df = pd.read_csv('CommAreas.csv', sep='",', names=['Geometry', 'RestOfData'], skiprows=1, encoding='utf-8', decimal='.' )
comm_df.head(5)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.

,Geometry,RestOfData
0,"""MULTIPOLYGON (((-87.60914087617894 41.8446925...","0,0,0,0,35,DOUGLAS,35,46004621.1581,31027.0545098"
1,"""MULTIPOLYGON (((-87.59215283879394 41.8169293...","0,0,0,0,36,OAKLAND,36,16913961.0408,19565.5061533"
2,"""MULTIPOLYGON (((-87.62879823733725 41.8018930...","0,0,0,0,37,FULLER PARK,37,19916704.8692,25339...."
3,"""MULTIPOLYGON (((-87.6067081256125 41.81681377...","0,0,0,0,38,GRAND BOULEVARD,38,48492503.1554,28..."
4,"""MULTIPOLYGON (((-87.59215283879394 41.8169293...","0,0,0,0,39,KENWOOD,39,29071741.9283,23325.1679062"

In [3]:
comm_df['Geometry'] = comm_df['Geometry'].str[1:]
comm_df.head(5)

,Geometry,RestOfData
0,MULTIPOLYGON (((-87.60914087617894 41.84469250...,"0,0,0,0,35,DOUGLAS,35,46004621.1581,31027.0545098"
1,MULTIPOLYGON (((-87.59215283879394 41.81692934...,"0,0,0,0,36,OAKLAND,36,16913961.0408,19565.5061533"
2,MULTIPOLYGON (((-87.62879823733725 41.80189303...,"0,0,0,0,37,FULLER PARK,37,19916704.8692,25339...."
3,MULTIPOLYGON (((-87.6067081256125 41.816813770...,"0,0,0,0,38,GRAND BOULEVARD,38,48492503.1554,28..."
4,MULTIPOLYGON (((-87.59215283879394 41.81692934...,"0,0,0,0,39,KENWOOD,39,29071741.9283,23325.1679062"

In [4]:
comm_df_1 = comm_df['RestOfData'].str.split(pat = ",", expand=True)
#.head(5)

In [5]:
comm_df['CommArea'] = comm_df_1[4]
#comm_df.head(5)

In [6]:
comm_df = comm_df.drop('RestOfData', axis=1)

In [7]:
comm_df.to_csv('Comm_Areas_1.csv', sep=';', index=None)